body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.row {
    margin-bottom: 0;
}

.input-field {
    margin-top: 0;
    margin-bottom: 0;
}

.nop {
    padding: 0!important;
    padding-left: 15px!important;
}

.nom {
    margin: 0!important;
    margin-right: 15px!important;
}

.nav-extended {
    position: relative;
    z-index: 1;
}

.nav-background {
    background-image: url('/static/images/Auditbg-T.png');
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}

.nav-header {
    word-wrap: break-word;
    clear: both;
    padding: 40px 0;
}

.tagline {
    display: block;
    margin: -40px 0 40px 0;
    color: rgba(255,255,255,0.8);
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

.container {
    margin: 0 auto;
    max-width: unset!important;
    width: 90%;
}