@media only screen and (min-width: 601px) {
    #table-container {
        width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    #table-container {
        width: 90%;
    }
}

#table-container {
    margin: 0 auto;
    max-width: unset!important;
    width: 90%;
}

/*th:hover {
    background-color:lightgrey;
    cursor: pointer
}*/

.ps0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.mt1 {
    margin-top: 1.5rem;
}

.Table-wrapper {
    overflow-x: auto;
}

#attachment-ul {
    overflow-x: auto;
}

#attach-btn {
    font-size: 2rem!important;
}
/* TODO: Fix table resonsivness */