{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/leaflet/leaflet.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block header_title %}Tableau de bord{% endblock %}
{% block header_tagline %}Statistiques de l'Audit 5S{% endblock %}

{% block body %}
<div class="container section">
  <div class="row" id="LineCharts">
    {% set colsize = "l6" %}
    {% for zone in contexts.Zones %}
    {% if loop.first and loop.last %}
      {% set colsize = "l12" %}
    {% endif %}
    <div class="col s12 m12 {{ colsize }}">
      <div class="card pt1">
        <div class="card-image chart-sizing-35">
          <canvas id="Zone{{ zone.ZoneID }}"></canvas>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4" id="activator-{{ zone.ZoneID }}">{{ zone.Site }} {{ zone.ZoneName }}<i class="material-icons right">&#xE55E;</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ zone.Site }} {{ zone.ZoneName }}<i class="material-icons right">close</i></span>
          <div id="map{{ zone.ZoneID }}" style="height: 90%;"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="row col s12 m2 l2 ps0">
          <div class="input-field col s6">
            <input placeholder="" type="text" class="datepicker" id="dateFrom">
            <label for="dateFrom">Du</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="" type="text" class="datepicker" id="dateTo">
            <label for="dateTo">Au</label>
          </div>
        </div>
        <div class="row col s12 m6 l6 ps0">
          <div class="input-field col s4">
            <select id="SiteID">
              {% if current_user.Profile != "Responsable_zone" %}
              <option value="" selected>Tous</option>
              {% endif %}
              {% for site in contexts.sites %}
              <option value="{{ site.SiteID }}">{{ site.SiteName }}</option>
              {% endfor %}
            </select>
            <label>Site</label>
          </div>
          <div class="input-field col s4">
            <select id="ZoneID">
              <option value="" selected>Toutes</option>
            </select>
            <label>Zone</label>
          </div>
          <div class="input-field col s4">
            <select id="UnitID">
              <option value="" selected>Toutes</option>
            </select>
            <label>Unité</label>
          </div>
        </div>
        <div class="row col s12 m4 l4 ps0">
          <div class="input-field col s6">
            <select id="LocationTypeID">
              <option value="" selected>Toutes</option>
            </select>
            <label>Nature</label>
          </div>
          <div class="input-field col s6">
            <select id="LocationID">
              <option value="" selected>Toutes</option>
            </select>
            <label>Désignation</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="col s7 m9 l9 waves-effect waves-light btn blue darken-3" id="Search">Rechercher</button>
        <button class="col s4 m2 l2 offset-s1 offset-m1 offset-l1 waves-effect waves-light btn red darken-3" id="Clear">Effacer</button>
      </div>
      <div class="pt1"></div>
      <div class="divider"></div>
    </div>
    <div class="card-image chart-sizing-45">
      <canvas id="PieChart"></canvas>
    </div>
    <div class="card-image chart-sizing-45 hide">
      <canvas id="ParetoChart"></canvas>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="card-title col s10 m11 l11">Audit 5S</div>
        <div class="col s2 m1 l1">
          <button class="btn-floating btn blue-grey hide" id="Return"><i class="material-icons md-24">&#xE86A;</i></button>
        </div>
      </div>
    </div>
  </div>

  
</div>
{% endblock %}

  {% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/chart.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/minified/dashboard.min.js') }}"></script>
  {% endblock %}