<!DOCTYPE html>
<html lang="fr"> 
  <head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <!-- CSS file -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    {% block head %}{% endblock %}
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}COPAG Si&egrave;ge</title>
    
  </head>

  <body>
    <header>
      <nav class="nav-extended cyan darken-3">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">
              <img class="responsive-img show-on-small hide-on-med-and-up" src="{{ url_for('static', filename='images/copagLogo1.png') }}">
              <img class="responsive-img show-medium-and-up hide-on-small-only" src="{{ url_for('static', filename='images/copagLogo2.png') }}">
            </a>
            {% if current_user.is_authenticated %}
            <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#"><i class="material-icons left">account_circle</i>{{ current_user.UserID }}</a></li>
              {% if current_user.Profile == "Administrateur" %}
              <li><a href="/evaluation"><i class="material-icons left">&#xE85D;</i>Evaluation</a></li>
              <li><a href="/consultation"><i class="material-icons left">&#xE24B;</i>Consultation</a></li>
              {% endif %}
              <li><a href="/logout"><i class="material-icons left">&#xE8AC;</i>Se déconnecter</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
              <li><a href="#" class="nop"><i class="material-icons left nom">account_circle</i>{{ current_user.UserID }}</a></li>
              {% if current_user.Profile == "Administrateur" %}
              <li><a href="/evaluation" class="nop"><i class="material-icons left nom">&#xE85D;</i>Evaluation</a></li>
              <li><a href="/consultation" class="nop"><i class="material-icons left nom">&#xE24B;</i>Consultation</a></li>
              {% endif %}
              <li><a href="/logout" class="nop"><i class="material-icons left nom">&#xE8AC;</i>Se déconnecter</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <main class="">
      {% block body %}{% endblock %}
    </main>

    <!--TODO: Add footer-->
    <footer class="page-footer cyan darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Audit 5S</h5>
            <p class="grey-text text-lighten-4">Some text.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
