{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/consultation.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container" id="table-container">
  <div class="row">

  </div>
  
  <table class="responsive-table highlight bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Site</th>
        <th>Zone</th>
        <th>Unité</th>
        <th>Nature</th>
        <th>Désignation</th>
        <th>Critère d'evaluation</th>
        <th>Rubrique</th>
        <th>Validation</th>
        <th>Remarque</th>
        <th>Pièces jointes</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>20/03/2018</td>
        <td>COPAG Siège</td>
        <td>COPAG Siège Ouest</td>
        <td>Support</td>
        <td>Bâtiment</td>
        <td>Bloc social</td>
        <td>TENIR RANGER</td>
        <td>Y a-t-il des objets inutiles ?</td>
        <td>Non</td>
        <td>bla bla</td>
        <td>image.jpg</td>
        <td>Modifier Supprimer</td>
      </tr>
      <tr>
        <td>20/03/2018</td>
        <td>COPAG Siège</td>
        <td>COPAG Siège Ouest</td>
        <td>Support</td>
        <td>Bâtiment</td>
        <td>Bloc social</td>
        <td>TENIR RANGER</td>
        <td>Y a-t-il des objets inutiles ?</td>
        <td>Non</td>
        <td>bla bla</td>
        <td>image.jpg</td>
        <td>Modifier Supprimer</td>
      </tr>
      <tr>
        <td>20/03/2018</td>
        <td>COPAG Siège</td>
        <td>COPAG Siège Ouest</td>
        <td>Support</td>
        <td>Bâtiment</td>
        <td>Bloc social</td>
        <td>TENIR RANGER</td>
        <td>Y a-t-il des objets inutiles ?</td>
        <td>Non</td>
        <td>bla bla</td>
        <td>image.jpg</td>
        <td>Modifier Supprimer</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}