{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row section">
      <div class="col s1 m2 l2"></div>
      <div class="container col s10 m8 l8">
        <div class="card">
          <div class="card-content">
            <span class="card-title center-align section">Authentification</span>
            <div class="divider"></div>
            <div class="section"></div>
            <form method="POST" action="/login/">
              {{ form.csrf_token }}
              <div class="row section">
                <div class="input-field">
                  <input class="col s12" id="UserID" name="UserID" type="text" placeholder="" required>
                  <label for="UserID">Identifiant</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input class="col s12" id="Password" name="Password" type="password" placeholder="" required>
                  <label for="Password">Mot de passe</label>
                </div>
              </div>
              <div class="row section">
                <div class="col s4"></div>
                <button class="btn waves-effect waves-light col s4" type="submit" name="login">Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}