{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row section">
      <div class="col s1 m2 l2"></div>
      <div class="container col s10 m8 l8">
        
        <form method="POST" action="/login">
          {{ form.csrf_token }}
          <div class="row">
            <div class="valign-wrapper">
              <span class="col s4 m3 l3">Identifiant</span>
              <input class="col s8 m9 l9 input-field" id="UserID" name="UserID" type="text" required>
            </div>
          </div>
          <div class="row">
            <div class="valign-wrapper">
              <span class="col s4 m3 l3">Mot de passe</span>
              <input class="col s8 m9 l9 input-field" id="Password" name="Password" type="password" required>
            </div>
          </div>
          <div class="row section">
            <div class="col s4"></div>
            <button class="btn waves-effect waves-light col s4" type="submit" name="login">Login
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>

  
{% endblock %}

  {% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
  {% endblock %}